body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

h1 {
    text-emphasis: Bold;
}

h2 {
    text-emphasis: Bold;
}

h3 {
    text-decoration: underline;
}

h5 {
    color: red;
    font-size: 16px;
}

input[type=number] {
  -moz-appearance: textfield;
}