{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} About Me{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2>Academic Background</h2>
<p>
I have a B.S. in Mechanical Engineering from Penn State University and an M.B.A. 
from the Jack Welch Management Institute of Strayer University.  I am also a Professional Engineer in
the state of West Virginia, a Project Management Professional, a Six Sigma Black Belt, and a 
Certified Scrum Master.
</p>

<h2>Career Aspirations</h2>
<p>
I am aspiring to work in Data Science, and I would love to find a role that works well with my academic background.  For example,
I could be very successful in the financial industry since I have an M.B.A. and many years managing project money.  Additionally, I 
clearly have an interest in technology and engineering so working as an AI engineer for automating a manufacturing process could also be good.
I see the potential AI has to solve a lot of problems, and I want to be part of that effort.  
</p>

<h2>Professional Interests</h2>
<p>
I have a background in several different technical areas, and my problem (or strength) is that I have enjoyed pretty much all of them.
I really enjoyed data analysis and root cause analysis because it is like solving a mystery.  I love problem solving, so I also enjoyed my work
as a technical services engineer because there was always something new to learn.  And while I don't do that anymore, the experience I gained has made 
me a successful project manager.
</p>

<h2>Personal Introduction</h2>
<p>
I love music and I am well versed in several different instruments.  I primarily play piano and guitar, but I have previously played
clarinet, saxophone, harmonica, bass guitar, ukulele, and even ocarina.  In college, I founded the first Penn State Guitar Club.  I have played in a church band,
and I have taught one of my friend's daughters how to play piano.  
<br><br>
My other major hobby is gaming of all kinds, which is why I chose to do my capstone project on board games.
In my local community, I have started a group that plays chess and one that plays bridge at my local library.  I frequently play online board games with friends, and I have a 
large collection myself.  I also play a lot of different video games, and I tend to like the ones that reward strategic thinking the most.   
</p>

{% endblock %}

