<!doctype html>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>

<section>
  <header>
    <div class="topnav">
      <a class="{{'active' if active_page == 'about' }}" href="{{ url_for('about') }}">About</a>
      <a class="{{'active' if active_page == 'resume' }}" href="{{ url_for('resume') }}">Resume (Oct 2025)</a>
      <a class="{{'active' if active_page == 'capstone' }}" href="{{ url_for('capstone') }}">Capstone Project</a>
      <a class="{{'active' if active_page == 'projects' }}" href="{{ url_for('projects') }}">Other Projects</a>
    </div>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>

