{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Board Game Recommender{% endblock %}</h1>
{% endblock %}

{% block content %}


<h2>Problem Statement</h2>
<p>
One of the current versions of an online board game recommender comes from Boardgamegeek.com, one of the largest websites
for board games.  The issue is the recommendations that it gives are not the best (in my opinion) and there is no way
to recommend games based on a list.  This project is a board game recommender that takes a list of games as input and recommends 
games based on the game properties.  The results can also be filtered by minimum player age, maximum game duration, player count, 
and game complexity based on Boardgamegeeks's scale.
</p>


<hr>
<h2>Try it out!</h2>

<p>
You can input games using the input field and clicking the "Add to List" button after each game.  In addition, you can add any of the common
games to the list be checking the box next to each game.  When you are done adding games to the list, click the "Find Recommendations"
button to see the results.  You can also use the "Clear List" button to start a new list.  
</p>

    <form action="{{ url_for('capstone') }}" method="POST">
        <h3>Input Games to List</h3>
            <li>
                <input type="checkbox" id="game1" name="checked_1" value="Chess">
                <label for="game1">Chess</label>
            </li>
            <li>
                <input type="checkbox" id="game2" name="checked_2" value="UNO">
                <label for="game2">UNO</label>
            </li>
            <li>
                <input type="checkbox" id="game3" name="checked_3" value="Scrabble">
                <label for="game3">Scrabble</label>
            </li>
            <li>
                <input type="checkbox" id="game4" name="checked_4" value="Rummy">
                <label for="game4">Rummy</label>
            </li>
            <li>
                <input type="checkbox" id="game5" name="checked_5" value="Monopoly">
                <label for="game5">Monopoly</label>
            </li>
            <li>
                <input type="text" id="input" name="input" placeholder="Input game">
                <label for="input">Manual entry</label>
            </li>
        <br>
        <button type="submit">Add to List</button>
        <br><br>
    </form>
    <form action="/clear" method="POST">
        <button type="submit">Clear List</button>
    </form>

<h3>List of Inputted Games</h3>

<ul>
    {% for game in inputted_list %}
        <li>{{ game }}</li>
    {% endfor %}
</ul>

<h4>Optional Filters</h4>

<form action="/recommend" method="POST">
    <input type="number" min="0" class="no-arrows" id="age" name="age" placeholder="Input player age">
    <label for="age">Minimum player age</label>
    <br>

    <input type="number" min="0" class="no-arrows" id="player_count" name="player_count" placeholder="Input player count">
    <label for="player_count">Minimum player count</label>
    <br>

    <input type="number" min="0" class="no-arrows" id="play_time" name="play_time" placeholder="Input game length">
    <label for="play_time">Maximum game length (minutes)</label>

    <br>
    <input type="number" step="0.01" min="1" max="'5" class="no-arrows" id="complexity" name="complexity" placeholder="Input game complexity">
    <label for="complexity">Maximum game complexity (1.00 - 5.00)</label>

    <br><br>
    <button type="submit">Find Recommendations</button>
</form>
<h4>{{ filter_values }}</h4>
<h5>{{ error_message }}</h5>

<h3>Recommendations (Top 20)</h3>
<ul>
    {% for game in recommendation_list %}
        <li>{{ game }}</li>
    {% endfor %}
</ul>
<hr>
<h2>Approach</h2>
<p>
The model works by comparing the qualities of each game (such as player count, game duration, type of game, game mechanics, etc.) 
and finds games that share those similarities.  The function runs this comparison for every game in the inputted board game list, and
outputs the results sorted by a custom rating (average rating * number of users who rated the game).  If some games in the inputted board game list are similar to each other, 
the model will tend to give priority to those games when making its recommendations.  
</p>

<h2>Results</h2>
<p>
The model gives great results based on testing multiple different game lists.  It gives reasonably good results for one game, and the 
model tends to give better results for larger game lists.  
</p>
{% endblock %}