{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Other Projects{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>
<ul>
    <li><a href="https://github.com/ChessGuy/data-projects/tree/main/Chess%20Move%20Prediction" target="_blank">Chess Move Prediction</a></li>
    <li><a href="https://github.com/ChessGuy/data-projects/tree/main/Diamond%20Prices" target="_blank">Diamond Price Prediction</a></li>
    <li><a href="https://github.com/ChessGuy/data-projects/tree/main/Spotify%20Streams" target="_blank">Spotify Data Analysis</a></li>
    <li><a href="https://github.com/ChessGuy/data-projects/tree/main/PCOS" target="_blank">Polycystic Ovary Syndrome (PCOS) Data Analysis</a></li>
</ul>
</p>

{% endblock %}