{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Eric J. Brink, PE, PMP {% endblock %}</h1>
  <img src="static/profile_pic.png" alt="Profile Pic">
{% endblock %}

{% block content %}

<p>
Engineer and Project Manager with over 10 years of experience. Adept at leveraging analytical skills 
and a strong foundation in mathematics to drive efficiency and optimize processes.  Seeking data science 
position to apply a unique blend of engineering expertise and programming skills to solve complex problems.
</p>

<h2>Technical Skills</h2>
<p>
    <li><b>Programming:</b> Python (Pandas, NumPy), R (Dplyr, Tidyr), Java, JavaScript, HTML/CSS, SQL (PostgreSQL), Git</li>
    <li><b>Machine Learning:</b> Scikit-learn, TensorFlow, Keras, Natural Language Processing (NLTK Library)</li>
    <li><b>Visualization:</b>  Power BI, Tableau, Seaborn, Matplotlib, ggplot2</li>
</p>

<h2>Professional Experience</h2>

<li><b>Programs Engineer III/Sr.</b></li>
<li>Williams Energy | Pittsburgh, PA</li>
<li>Nov 2020 – Apr 2025</li>
<ul>
<li>Received Champion Award approved by V.P. of Northeast Operations for leading a team to analyze, 
test, implement, and track solutions to reduce engine fires across the company
</li>
<li>Created a <b>Power BI</b> dashboard to track and analyze data related to safety incidents </li>
</ul>

<li><b>Project Manager</b></li>
<li>Williams Energy | Pittsburgh, PA</li>
<li>Apr 2017 – Nov 2020</li>
<ul>
<li>Received Champion Award approved by V.P. of Northeast Operations for developing guidance for 
protecting process valves which was adopted by the company
</li>
<li>Saved the company $14 million by evaluating capital projects and prioritizing them by risk </li>
</ul>

<h2>Certifications and Licenses</h2>
    <li><b>Professional Engineer (PE)</b> - State of West Virginia, 2016</li>
    <li><b>Project Management Professional (PMP)</b> - Project Management Institute, 2016</li>
    <li><b>Certified Scrum Master (CSM)</b> - Scrum Alliance, 2024</li>
<p>

<h2>Education</h2>
    <li><b>Master of Business Administration – 4.0 GPA</b> - Jack Welch Management Institute - Strayer University, 2020</li>
    <li><b>Bachelor of Science, Mechanical Engineering – 3.6 GPA</b> - Pennsylvania State University, 2012</li>
    <li><b>Master of Science, Data Science – 4.0 GPA (Current)</b> - Eastern University, Expected 2025</li>

{% endblock %}